* {
    background-color: black;
    color: white;
    font-family: helvetica;
    
}

header , .nav-header , .section-container , .bio-container , .skills-container , .skills-first-container , .skills-second-container , .skill ,
.contact-form , footer , .footer-nav{
    display: flex;

}

.header-link::after , .input-message , textarea {
    background-color: white;

}

.resume-btn , .submit-btn {
    background-color: #cf1b1b;

}

.resume-btn , .submit-btn , .section-header {
    color: white;

}

header , .section-container , .skill , footer , .bio-container {
    align-items: center;
    justify-content: center;
}

.section-container , .skills-first-container , .skills-second-container , .contact-form , footer {
    flex-direction: column;
}

h3 {
    font-size: 18px;

}

h4 {
    margin: 0px;
    font-size: 22px;
    font-weight: 1100;

}

a {
    text-decoration: none;

}

.personal-logo-link {
    border-bottom: none;
    background-color: transparent;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;  
    z-index: 1;
    gap: 250px;
    
}

.personal-logo {
    width: 59px;
    height: 59px;
}

.personal-logo:hover {
    cursor: pointer;
}

.nav-header {
    gap: 40px;
    margin-left: 50px;
    
    
    
}

.header-link {
    position: relative;
    
}

.header-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

.header-link:hover::after {
    transform: scaleX(1);
}



.resume-btn {
    width: 119.13px;
    height: 42px;
    border: 0;
    text-align: center;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    transition: .2s ease-in-out 0s;
     
}

.resume-btn:hover, .submit-btn:hover{
    cursor: pointer;
    transform: scale(1.08);
    
    
}



#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 230.31px;
    margin-top: 89.44px;
}

body {
    margin: 0;
}

.section-container {
    padding-top: 62px;
    
}

.section-header {
    position: relative;
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 60px;
    margin-top: 50px;
    
}

.about-header {
    margin-bottom: 85px;
}

.project-header , .contact-header , .about-header {
    margin-bottom: 85px;
}

.section-header:before {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    bottom: -20%;
    left: 24%;
    border-bottom: 2px solid white;
}

.about-bio {
    width: 374px;
    font-weight:900;

    
}

.bio-container {
    gap: 140px;

}

.me {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.skills-container {
    
    flex-direction: row;
    gap: 200px;
    
}

.skills-image {
    height: 75px;
    width: 75px;
}

.skills-first-container, .skills-second-container {
    gap: 40px;

}

.skill {
    flex-direction: row;
    border-bottom: #cf1b1b solid;
    width: 400px;
    gap: 20px;

}

.project-image {
    width: 320px;
    height: 158px;
    border-radius: 8px;
    transition: transform .2s;
}

.project-image:hover {
    transform: scale(1.1);
}

.contact-form {
    margin-top: -16px;
    gap: 16px;
    
}

input:focus, textarea:focus {
    outline: none;
}

.input-message, textarea, .submit-btn, .resume-btn {
    border-radius: 8px;
}

.input-message, textarea {
    color: black;
    padding: 15px;

}

.input-message {
    width: 340px;
    height: 20px;
    
}

textarea {
    height: 200px;
    width: 340px;
    
}

.submit-btn {
    margin-top: 40px;
    width: 119.13px;
    height: 42px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 16px;
    transition: .2s ease-in-out 0s;
}

::placeholder {
    font-weight: 600;
    font-size: 16px;
    
}

.footer, .nav-header, .header, .header-link, footer , h3 , .resume-link , .header-link {
    background-color: #14191b;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    
}

.footer-nav {
    
    gap: 15px;
}

.social-logo {
    height: 25px;
    width: 25px;
    transition: transform .2s;
    
}

.social-logo:hover {
    transform: scale(1.2);
}