@keyframes scale {
    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes page-load {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    background-color: black;
    color: white;
    font-family: helvetica;
    
}

header , .nav-header , .section-container , .bio-container , .skills-container , .skills-first-container , .skills-second-container , .skill ,
.contact-form , footer , .footer-nav , .project-image-container , .project-image-block , .button-header-container {
    display: flex;

}

.header-link::after , .input-message , textarea {
    background-color: white;

}

.resume-btn , .submit-btn {
    background-color: #cf1b1b;

}

.button-header-container {
    gap: 10px;
}

.project-image-block , .footer-nav , .skill {
    gap: 20px;
}

.resume-btn , .submit-btn , .section-header {
    color: white;
    border: 0;

}

header , .section-container , .skill , footer , .bio-container , .project-image-block , .button-header-container {
    align-items: center;
    justify-content: center;
}

.section-container , .skills-first-container , .skills-second-container , .contact-form , footer , .project-image-block {
    flex-direction: column;

}

.header-link::after , .section-header:before , footer {
    position: absolute;

}

.personal-logo:hover , .resume-btn:hover , .submit-btn:hover {
    cursor: pointer;

}

#page-container , .section-header , .header-link {
    position: relative;

}

.section-header.project-header , .section-header.contact-header , .section-header.about-header {
    margin-bottom: 115px;

}

h4 , body {
    margin: 0px;

}

input:focus, textarea:focus {
    outline: none;

}

.input-message, textarea, .submit-btn, .resume-btn , .project-image , .me {
    border-radius: 8px;

}

.input-message, textarea {
    color: black;
    padding: 15px;

}

.footer, .nav-header, .header, .header-link, footer , h3 , .resume-link , .header-link , .button-header-container {
    background-color: #14191b;

}

.skills-first-container, .skills-second-container {
    gap: 40px;

}

footer , header , .header-link::after {
    width: 100%;

}

.input-message , textarea {
    width: 340px;

}

.submit-btn , .resume-btn {
    width: 119.13px;

}

.submit-btn , ::placeholder , .resume-btn {
    font-weight: 600;

}

.submit-btn , ::placeholder {
    font-size: 16px;

}

.resume-btn:hover, .submit-btn:hover{
    transform: scale(1.08);
    
}

.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 10px;
    gap: 300px;
    
}

.name-title {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 8px;

}

.job-title {
    font-size: 1.1rem;
    margin: 0;

}

.welcome-text {
    font-size: 5rem;
    font-weight: 800;
}

h3 {
    font-size: 18px;

}

h4 {
    font-size: 22px;
    font-weight: 1100;

}

a {
    text-decoration: none;

}

.personal-logo-link {
    border-bottom: none;
    background-color: transparent;

}

header {
    position: fixed;
    top: 0;
    padding: 10px 0;  
    z-index: 1;
    gap: 250px;
    
}

.personal-logo {
    width: 59px;
    height: 59px;

}

.nav-header {
    gap: 40px;
    margin-left: 50px;
    
}

.header-link::after {
    content: '';
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);

}

.header-link:hover::after {
    transform: scaleX(1);

}



.resume-btn {
    height: 42px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    transition: .2s ease-in-out 0s;
     
}

#page-container {
    min-height: 100vh;

}

#content-wrap {
    padding-bottom: 230.31px;
    margin-top: 89.44px;
    animation: page-load ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.section-container {
    padding-top: 62px;
    
}

.section-header {
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 60px;
    margin-top: 50px;
    
}

.about-bio {
    width: 374px;
    font-weight:900;
    
}

.bio-container {
    gap: 140px;

}

.me {
    width: 300px;
    height: auto;

}

.skills-container {
    gap: 200px;
    
}

.skills-image {
    height: 75px;
    width: 75px;

}

.skill {
    border-bottom: #cf1b1b solid;
    width: 400px;

}

.project-image-container {
    gap: 30px;

}

.project-image {
    width: 320px;
    height: 158px;
    transition: transform .2s;
    

}

.project-image:hover {
    transform: scale(1.1);

}

.project-image-header {
    font-weight: bold;

}

.project-image-header::after , .section-header::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 10px;
    border-bottom: 1px solid white;

}

.section-container.project-container , .project-image-container {
    margin-bottom: 50px;
}

.contact-form {
    margin-top: -16px;
    gap: 16px;
    
}

.input-message {
    height: 20px;
    
}

textarea {
    height: 200px;
    
}

.submit-btn {
    margin-top: 40px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    transition: .2s ease-in-out 0s;

}

footer {
    bottom: 0;
    padding: 15px 0;
    
}

.social-logo {
    height: 25px;
    width: 25px;
    transition: transform .2s;
    
}

.social-logo:hover {
    transform: scale(1.2);

}



